@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

.borde{
	border: 2px solid red;
}


body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #5a5a5a;
}


h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

.logo{
	max-height: 40px
}
.navbar-light .navbar-brand{
	color: #297f3f;
	font-size: 30px;
	font-weight: 400;
}

.search-sidebar ul{
  padding-top: 30px;
}
.sideitem{
  padding: 5px;
  list-style-type: none;
  border-bottom: 1px solid #dfdfdf;
  margin-top: 8px;
}
.navbar-nav{
	font-weight: 400;
}
.carousel-item {
	max-height: 500px;
	overflow: hidden;
}

.productos .card-img-top{
	max-height: 160px;
}

.price{
  font-size: 24px;
  color: #eacd4d;
  font-weight: bold;
}

.carousel-caption {
    top: 72px;
    position: absolute;
    /* top: 100px; */
    background: #33333380;
    width: 40%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-caption p{
	padding: 30px
}

.carousel-caption h1{
	color: #fff;
}
.home section{
	padding: 50px 0px;
}

.section-green{
	background-color: #6fb11c;
	color: #eeebf8;
}


.card{
	background: #f5f5f5;
	margin-bottom: 30px;
}


/* Bootstap overlay */

.navbar{
	position: fixed;
	z-index: 2000;
	width: 100%;
	background-color: #ffffffb8
} 

.carousel .overlay{
	position: absolute;
    height: 100%;
    width: 100%;
    background: #00000040;
    z-index: 2;
}

section .title{
	text-align: center;
	padding: 20px;
}

section .subtitle{
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

.pasos .paso h2{
	font-size: 1.5rem;
	color: #333;
}

.pasos .paso .icon img{
	width: 60px;
    margin: 20px 0px;
}

.aliados{
	text-align: center;
}

.beneficios{
	position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 550px;
    
}

.productor{
	height: 400px;
	width: 500px;
	position: absolute;
	background-image: url("../images/productor.jpg");
	background-position-x: center;
	background-repeat: no-repeat;
	padding-top: 100px;
}

.home .call-to-action{
	padding: 30px 0px;
}

footer{
	background-color: #333;
	color: #fff;
	padding: 20px 0px 0px;
	color: #b9c1c9;
}

footer .menu-footer{
	list-style: none;
	margin: 30px 0px;

}

.copy-r{
	padding: 5px;
	text-align: center;
	margin-top: 20px;
	background-color: #5e5d5d;
	font-size: 12px;
}

.btn-primary{
	margin: 20px;
    border-radius: 40px;
    background-color: #7aba1e;
    border-color: #7aba1e;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.6)!important;
}

.home .productos-page{
  padding-top: 100px;
}

.search-sidebar{
  background: #f3f3f3;
  color: #757474;
  padding: 20px 20px 50px;
}


.search-result{
  border: 1px solid #7d9650;
  margin-bottom: 20px;
  padding: 20px 20px 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.contenedor-info-producto{
	display: flex;
	justify-content: space-between;
}

/*Estilos de los modal*/


.modal-body{
	display: flex;
	justify-content: space-between;
}

.modal-body .contenedor-formulario{
	width: 50%;
	overflow-y: scroll;
	max-height:300px; 
}

.modal-body .contenedor-formulario p{
	text-decoration: underline;
	color: #008000;
}

.modal-body .contenedor-imagen{
	max-width: 48%;
}

.modal-body .contenedor-imagen img{
	width: 100%;
	border-radius: 10px;

}


